<img src="./figures/pylogo.png" alt="Indentation" width="50%" height="50%">

<h1> 3- Les listes en Python:</h1> 

<h2>Objectifs</h2>

- Comprendre ce qu'est une liste
- Savoir consulter et analyser une liste
- Savoir manipuler une liste

<h2>Concept et déclaration d'une liste en Python</h2>

La struture dite "liste" est fondamentale dans la programmation Python. 

Les listes permettent de regrouper un ensemble de valeurs sous forme ordonnée et modifiable accessible via des index. 

On écrit tous les éléments de la liste en les séparant par des virgules et le tout encadré par des crochets : 
             - ma_liste = [ , , , , ]


Python est un langage orienté-objet, les listes sont associées à des méthodes: objet.method()

On peut appliquer des fonctions sur les listes

<h2> 3.1- Créer une liste </h2>

Pour crée une lixte, on écrit tous les éléments de la liste en les séparant par des virgules et le tout encadré par des crochets

In [1]:
ma_liste=[1,2,3,4,5,6,7,8,"hello",10.5]

In [2]:
print(ma_liste)  # fonction pour voir ce qui compose notre liste

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

On peut aussi utiliser la fonction <b>range()</b> pour générer une liste composée d'une simple suite arithmétique.

In [3]:
ma_liste=list(range(10))
ma_liste

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
ma_liste=list(range(1981,1985,1))
ma_liste

[1981, 1982, 1983, 1984]

Lorsque l'on travaille avec un objet sous Python, la commande dir() nous montre toujours les tâches que nous pouvons réaliser avec cet objet: dir(ma_liste)

In [5]:
dir()

['In',
 'Out',
 '_',
 '_3',
 '_4',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'ma_liste',
 'quit']

<h2> 3.2- Parcourir des listes </h2>

Une fois la liste crée, nous pouvons accéder aux éléments de notre liste en utilisant les index de cette dernière. 

Le premier item commence toujours avec l'index 0. Pour lire la premier item on utilise la valeur 0, le deuxième on utilise la valeur 1, etc.

Il est d'ailleurs possible de modifier une valeur avec son index.

In [6]:
ma_liste=[1,2,3,4,5,6,7,8,"hello",10.5]
ma_liste[:] # Affiche toutes les occurences

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

In [7]:
ma_liste[1] # pour accéder à un élement de la liste: ici on prend le deuxième élément.

2

In [8]:
ma_liste[2:4] # slicing: pour accéder aux éléments entre la 3ème position et la 4ème

[3, 4]

In [9]:
ma_liste[:4] # slicing: pour accéder tous les éléments jusqu'à l'index 4 ou 4ème position

[1, 2, 3, 4]

In [10]:
ma_liste[3:] # slicing: pour accéder tous les éléments à partir de l'index 3

[4, 5, 6, 7, 8, 'hello', 10.5]

In [11]:
ma_liste[0:2],ma_liste[4],ma_liste[5:7] # pour choisir plusieurs éléments, on fait plusieurs listes
# on crée ici un tuple: qui contient des listes

([1, 2], 5, [6, 7])

In [12]:
ma_liste[-2] # pour récupérer la 2ème valeur à partir de la fin , avec les index négatifs, on ne part plus de 0 .

'hello'

In [13]:
ma_liste[1:-4] # on part de l'index 1, avec le slicing , on s'arrête une 4 fois avant

[2, 3, 4, 5, 6]

In [14]:
ma_liste[::2] # pour extraire les éléments avec un incrément: ici on extrait les index pairs

[1, 3, 5, 7, 'hello']

In [15]:
ma_liste[1::2] # pour extraire les éléments avec un incrément: ici on extrait les indexs impairs

[2, 4, 6, 8, 10.5]

<h2> 3.3-  Modifier des listes </h2>

- pour <b>ajouter</b> un élément: on utilise une méthode append

In [6]:
ma_liste.append(2)

In [7]:
print(ma_liste)

[1981, 1982, 1983, 1984, 2]

   - pour <b>insérer</b>  un élement dans notre liste à un index choisi: méthode insert()

In [8]:
ma_liste.insert(5,"nouvelle")

In [9]:
print(ma_liste)

[1981, 1982, 1983, 1984, 2, 'nouvelle']

- pour <b>modifier</b> une valeur dans notre liste

In [10]:
ma_liste[0]="a"

In [11]:
print(ma_liste)

['a', 1982, 1983, 1984, 2, 'nouvelle']

- pour <b>modifier</b> plusieurs éléments de notre liste: slicing

In [12]:
ma_liste[3:5]=[8,10]

In [13]:
print(ma_liste)

['a', 1982, 1983, 8, 10, 'nouvelle']

- pour <b>supprimer</b> des valeurs d'une liste: 2 méthodes

In [14]:
ma_liste[0:2]=[]  # supprimer avec du slicing 
print(ma_liste)

[1983, 8, 10, 'nouvelle']

In [15]:
del ma_liste[3] # supprimer avec des mots clefs :https://fr.wikibooks.org/wiki/Programmation_Python/Tableau_des_mots_r%C3%A9serv%C3%A9s

In [16]:
print(ma_liste)

[1983, 8, 10]

<h2> 3.4-  Opérations utiles sur les listes  </h2>

- pour <b>concatener</b> deux listes

In [27]:
ma_liste1=[1,2,3,4,5]

In [28]:
ma_liste2=[6,7,8,9,10]

In [29]:
ma_liste3=ma_liste1+ma_liste2

In [30]:
ma_liste3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- pour <b>duppliquer</b> une liste

In [31]:
ma_liste1=[1,2,3,4,5]
ma_liste1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

- méthode <b>.reverse()</b> pour <b>inverser</b> les éléments d'une liste

In [32]:
ma_liste1=[1,2,3,4,5]
print(ma_liste1)
ma_liste1.reverse()
print(ma_liste1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

- méthode <b>.count()</b> pour <b>compter</b> le nombre d'occurence dans une liste

In [33]:
ma_liste2=liste = ["a","a","a","b","c","c"]
ma_liste2.count("a")

3

- méthode <b>.index()</b> pour <b>trouver l'index</b> d'une valeur dans une liste

In [34]:
ma_liste2=liste = ["a","a","a","b","c","c"]
ma_liste2.index("c")

4

- fonction <b>sum()</b> pour <b>sommer</b> les éléments d'une liste

In [35]:
ma_liste1=[1,2,3,4,5]
sum(ma_liste1)

15

- fonction <b>.len()</b> pour connaitre <b>le nombre d'items</b> d'une liste

In [36]:
len(ma_liste1)

5

- méthode <b>.sort()</b> pour <b>trier</b> les items d'une liste

In [37]:
ma_liste = [90,3,8,4,1,10,25,99]
ma_liste.sort()

In [38]:
ma_liste

[1, 3, 4, 8, 10, 25, 90, 99]

- fonctions <b>min()</b> et <b>max()</b> pour extraire le <b>minimum</b> ou le <b>maximum</b> d'une liste

In [39]:
ma_liste

[1, 3, 4, 8, 10, 25, 90, 99]

In [40]:
min(ma_liste) # fonction pour extraire le minimum de notre liste

1

In [41]:
max(ma_liste) # fonction pour extraire le maximum de notre liste

99

- association d'une boucle <b>for</b> et de la fonction <b>print()</b> pour afficher les valeurs d'une liste

In [42]:
list_mois = ["jan","fev","mar"]
for mois in list_mois:
    print(mois)

jan
fev
mar

- fonction <b>enumerate()</b> pour afficher les valeurs d'une liste ainsi que son index associé

In [43]:
list_mois = ["jan","fev","mar"]
for mois in enumerate(list_mois):
     print(mois)

(0, 'jan')
(1, 'fev')
(2, 'mar')

- méthode <b>.split()</b> pour transformer une chaîne de caractère en liste

In [44]:
ma_chaine = "Janvier:Fevrier:Mars"
ma_chaine.split(":")

['Janvier', 'Fevrier', 'Mars']

- méthode <b>.join()</b> pour transformer une liste en chaîne de caractères

In [45]:
liste = ['Janvier', 'Fevrier', 'Mars']
":".join(liste)

'Janvier:Fevrier:Mars'

<h2> 3.5- Les tuples  </h2>

- 1 tuple est une liste, soit ensemble de valeur stockée, mais à la différence qu'un tuple n'est pas modifiable comme dans une liste.
- l'intérêt d'un tuple est ce qui est rangé dans un tuble ne sera jamais modifiable

- On écrit tous les éléments d'un tuple en les séparant par des virgules et le tout encadré par des parenthèses : 
             - mon_tuple = ( , , , , )
             
On utilisera un tuple pour définir des sortes de constantes qui n'ont donc pas vocation à changer.

In [46]:
tuple1=(1,2,3,4,5)

In [47]:
tuple1

(1, 2, 3, 4, 5)

In [48]:
tuple1[0]=0 # on ne peut pas modifier un tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1[1]